<form method="get" action="/search" class="d-flex">
    <input class="form-control form-control-sm me-2" type="search" name="query" placeholder="Suchen..." aria-label="Search">
    <button class="btn btn-outline-primary btn-sm" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>